*{
    font-family:"Prata", serif; 
    font-weight: 600;
    margin: 0px;
    padding: 0px;
    /* maybe default indavam  */
}
.container{
    width: 100%;
    /* height: 100vh;  */
     /* view port height 1vh=1%of the height .vh refers to the visible portion of the browser window
    height 100% means 100% of the containing element ie containing div */
    position: relative;
}
.navbar{
    display: flex;
    width: 85%;
    /* container nte 85%  */
    justify-content: space-between;
    /* to align them left and right  */
    margin-left: 125px;
     align-items: center; 
     /* to arrange them vertically  */
}
ul li{
    list-style: none;
    /* to remove bulletien  */
    display: inline;
    /* to display li items in same line  */
    margin:10px 26px;
}
.link{
    text-decoration: none;
    color: black;
    font-size: 21px;
    font-weight: 800;
}

.link:hover{
    color: red;
}
.title{
    margin-left: 8%;
    margin-top: 13%;

}
.title h1{
    font-size: 62px;
    font-weight:800 ;
    margin-bottom:20px;
}
.title p{
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 50px;
}
.title a{
    text-decoration: none;
    background-color: black;
    padding: 10px 30px;
    color: white;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 600;
}
.images{
    width: 45%;
    height: 80%;
    position:absolute;
    right: 30px;
    bottom: 0px;
}
    
.img_grp{
    position: absolute;
    height: 100%;
    bottom: 0px;
    left: 50%;
    transform:translate(-50%);
/* it moves the element horizontally by 50% of its own width in the opposite direction  */
    transition: bottom 1s,left 2s;
}
.images:hover #shape{
 bottom: 70px;
}
.images:hover #girl{
    left: 40%
    /* no problem if we do not put; in the last line  */
}
#about{
    margin:13% 8% 0px 8%;
}
.heading{
    text-align: center;
    /* to horizontally centre an item 
    */
}
.heading span{
    color: green;
    font-size: 20px;
}
.heading h1{
    font-size: 28px;
    font-weight: 600;
}
.about_container{
    display: grid;
    /* sidil sidil varan  */
    grid-template-columns: repeat(2,1fr);
    /* fr (fraction) means column of same size */
    column-gap: 50px;
    margin-top: 5%;
}
.about_img img{
    width: 80%;
}
.about_details p{
    font-size: 18px;
}
.information{
    margin-top: 20px;
}
.info_box{
    margin-bottom: 2rem;
    /*  root em)2rem=16px*2  */
    font-size: 20px;

}
.info_box span{
    margin-left:10px ;
}
#skills{
    margin:8% 8% 0px 8%;
}
.skill_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 50px;
    margin-top: 4%;
}
.progress_bar{
    margin-top: 25px;
}
.bar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0px;
    margin-bottom: 1rem;
    position: relative;
}
.bar_container h3,span{
    font-size: 20px;
    font-weight:600 ;
}
.bar{
    width: 100%;
    height: 8px;
    background-color: black;
    position: absolute;
    bottom: 0px;
}
.html-bar{
    background-color: orange;
    width: 95%;
}
.css-bar{
    background-color: orange;
    width: 80%;
}
.js-bar{
    background-color: orange;
    width: 70%;
}
.react-bar{
    background-color: orange;
    width: 89%;
}
.skill_container img{
    width: 95%;
    margin-left: 45px;
}
#contact{
    margin: 8% 8% 0px 8%;
}
.iconset{
    display: flex;
    /* to come in same line  */
    align-items: center;
    /* to vertical-align:  ; */
    justify-content: center;
    margin-top: 3%;
}
.icon, .arrow{
    height: 50px;
    width: 50px;
    justify-content:center;
    align-items: center;
    margin: 0px 20px;
    border-radius: 50%;
    display: flex;
    /* hover cheumbo corrrect color align ayi varan  */
}
.icon i{
    color: black;
    font-size: 30px;
}
.icon:hover{
    background-image: linear-gradient(to bottom right, yellow,red);
    /* study  */
}
.icon:hover i{
    color: white;
    /* to change the icon color to white while hovering  */
    animation: shake 0.75s;
    /* 0.75 is the duration  */
}
@keyframes shake{
    10% {
transform: rotate(15deg);
    }
    20%{
        transform:rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    40%{
        transform:rotate(-15deg);
    }
}
/* 10%=10% of 0.75s  */

footer{
    margin: 3rem 0px;
}
footer p{
    text-align: center;
    font-weight: 600;

}
.arrow{
    
    float: right; 
    margin-right: 30px;
    margin-bottom: 20px;
    background-image: linear-gradient( to bottom right, yellow ,red);
    /* otherfeatures are same as icon so we mention arrow there */
} 
html{
    scroll-behavior: smooth;
}
    
